<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Ids de Relatórios que não fazemos Dowload no Admin -->
    <add key="RelatorioIdSemDownload" value="3" />
    <!--End of AppSettings-->
  </appSettings>
</configuration>